  <div class="container">
    
    <%= form_with model: @story, local: true do |form| %>
      <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@story.errors.count, "error") %> prohibited
            this storie from being saved:
          </h2>
          <ul>
            <% @story.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render 'layouts/header' %>

      <div class="solid-border mg50 pd20">

        <div class="columns">
          <div class="column">
            <%= form.label :headline %>
            <%= form.text_field :headline %>          
          </div>

            <div class="is-one-fifth column has-text-centered">
               <div class="solid-border <%= "#{status(@story)}-status" %>"> <span> <%= status_upper(@story) %> </span> </div>         
            </div>
          
        </div>

        <%= render writer_reviewer_area(current_user,@story), {story: @story, current_user: current_user, form: form} %>
       
        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body, :rows => 10, style: 'width:100%;', disabled: (!is_story_writer(@story, current_user)) %>
        </p>

        <% if story_is_editable(@story, current_user) %>
          <div class="columns has-text-right">
            <div class="column">
              <%= link_to "Cancel", stories_path, class: 'button is-light' %>
            </div>
            <div class="column is-1">
              <%= form.submit 'Save', class: 'button is-info' %>
            </div>
            
          </div>
        <% end %>

        
      </div>
     
    <% end %>

    <% if can_request_review(@story, current_user) %>
      <div class="columns">
        <div class="column">
          <%= button_to 'REQUEST REVIEW', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
      </div>
    <% end %>

    <% if story_will_review(@story, current_user) %>
      <div class="columns has-text-centered">
        <div class="column">
          <%= button_to 'REVIEW', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
      </div>
    <% end %>

    <% if story_is_in_review(@story, current_user)%>
      <div class="columns has-text-centered">
        <div class="column">
          <%= button_to 'APPROVE', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
        <div class="column">
          <%= button_to 'REQUEST CHANGES', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-warning' %>
        </div>
      </div>
    <% end %>

    <% if story_is_approved_by_reviewer(@story, current_user) %>
      <div class="columns has-text-centered">
        <div class="column">
          <%= button_to 'PUBLISH', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
        <div class="column">
          <%= button_to 'ARCHIVE', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-warning' %>
        </div>
      </div>
    <% end %>

    <% if story_can_view_comments(@story, current_user) %>

      <div class="solid-border mg10 pd20">
        <h2>Comments</h2> <hr>
          <%= render @story.comments %>

          <hr>
          <%= render 'comments/form' %>
      </div>

    <% end %>

  </div>
