  <div class="container">
    
    <%= form_with model: @story, local: true do |form| %>
     
      <% if @story.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@story.errors.count, "error") %> prohibited
            this storie from being saved:
          </h2>
          <ul>
            <% @story.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render 'layouts/header' %>

      <div class="solid-border mg50 pd20">

        <div class="columns">
          <div class="column">
            <%= form.label :headline %>
            <%= form.text_field :headline %>          
          </div>

            <div class="is-one-fifth column has-text-centered">
               <div class="solid-border <%= "#{story_status(@story)}-status" %>"> <span> <%= story_status_upper(@story) %> </span> </div>         
            </div>
          
        </div>

        <% if current_user.role.super_admin %>
          <p>
            <%= form.label :writer %>
            <%= form.select :writer_id, User.where(role_id: 2, organization_id: current_user.organization_id).collect {|x| [x.name, x.id]}, :include_blank => true %>
          </p>
        <% else %>
          <p>
            <%= form.label 'Writer:' %>
            <%= @story.writer.name %>
          </p> 
        <% end %>

        <% if current_user.role.super_admin %>
          <p>
            <%= form.label :reviewer %>
            <%= form.select :reviewer_id, User.where(role_id: 2, organization_id: current_user.organization_id).collect {|x| [x.name, x.id]}, :include_blank => true %>
          </p>
        <% else %>
          <p>
            <%= form.label 'Reviewer:' %>
            <%= @story.reviewer.name %>
          </p>    
        <% end %>
       
        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body, :rows => 10, style: 'width:100%;', disabled: (@story.writer_id != current_user.id) %>
        </p>

        <% if (@story.writer_id == current_user.id || current_user.role.super_admin) && (@story.status.name == 'draft'|| @story.status.name == 'pending' || @story.status.name == 'unassigned') %>
          <div class="columns has-text-right">
            <div class="column">
              <%= link_to "Cancel", stories_path, class: 'button is-light' %>
            </div>
            <div class="column is-1">
              <%= form.submit 'Save', class: 'button is-info' %>
            </div>
            
          </div>
        <% end %>

        
      </div>
     
    <% end %>

    <% if @story.id != nil && (@story.status.name == 'draft' || @story.status.name == 'pending') && current_user.id != @story.reviewer_id && @story.body != nil %>
      <div class="columns">
        <div class="column">
          <%= button_to 'REQUEST REVIEW', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
      </div>
    <% end %>

    <% if @story.status.name == 'for_review' && @story.reviewer_id == current_user.id || (current_user.role.super_admin && @story.status.name == 'for_review' )%>
      <div class="columns has-text-centered">
        <div class="column">
          <%= button_to 'REVIEW', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
      </div>
    <% end %>

    <% if @story.status.name == 'in_review' && @story.reviewer_id == current_user.id || (current_user.role.super_admin && @story.status.name == 'in_review')%>
      <div class="columns has-text-centered">
        <div class="column">
          <%= button_to 'APPROVE', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
        <div class="column">
          <%= button_to 'REQUEST CHANGES', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-warning' %>
        </div>
      </div>
    <% end %>

    <% if current_user.role.super_admin && @story.id != nil && @story.status.name == 'approved' %>
      <div class="columns has-text-centered">
        <div class="column">
          <%= button_to 'PUBLISH', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-info' %>
        </div>
        <div class="column">
          <%= button_to 'ARCHIVE', story_event_path(@story), name: "sub_action", method: :post, class: 'button is-warning' %>
        </div>
      </div>
    <% end %>

    <% if @story.id != nil && (current_user.id == @story.creator_id || current_user.id == @story.writer_id || current_user.id == @story.reviewer_id) %>

      <div class="solid-border mg10 pd20">
        <h2>Comments</h2> <hr>
          <%= render @story.comments %>

          <hr>
          <%= render 'comments/form' %>
      </div>

    <% end %>

  </div>
