<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>News</title>
	<%= stylesheet_link_tag "application.css" %>
</head>
<body class="container main solid-border">

	<div class="container mg50">

    	<%= render 'layouts/header' %>
		<div class="columns mg1">
			<div class="column">
				<div class="columns">
					<div class="column is-four-fifths">
						  All | My Stories
						  <%= search_form_for @search do |f| %>

						  	<%= f.label 'Status |' %>
						  	<%= f.select :status_id_eq, options_from_collection_for_select(Status.all, "id", "name", @search.status_id_eq) , {include_blank: true}, {class: 'select', onchange: 'this.form.submit();' } %>

						  <% end %>
					</div>
					<div class="column has-text-right">
						<div>
							<% if can? :create, Story %>
						  		<%= link_to "New Story",new_story_path, class: 'button is-light is-pulled-right' %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <% @stories.each do |s| %>
			  <% present(s) do |story| %>
			  <div class="columns solid-border mg10">
			  	<div class="column is-four-fifths">

			  		<%= render story.card_partial(current_user), story: story %>

			  		<div class="columns is-full">
			  			<br><br>
			  		</div>
			  		<div class="columns">
				  		<div class="column">
							<span>Writer: <%= story.writer %> </span>		
				  		</div>
				  		<div class="column">
				  			<span>Reviewer: <%= story.reviewer %> </span>		
				  		</div>  			
			  		</div>
			  	</div>
			  	<div class="column has-text-centered">
			  		<div class="solid-border <%= "#{story.status}-status" %>"> <span> <%= story.status_upper %> </span> </div>
			  			<div class="columns">
			  				<div class="column">
			  					<span> Created on: <%= story.on_story_time %> </span>
			  				</div>
			  			</div>
				  		<div class="columns">
				  			<% if current_user.role.super_admin %>
						  		<div class="column">
									<%= link_to '<i class="fa fa-clock-o"></i>'. html_safe, "/story/#{story.id}/audit", class: 'button is-light' %>
						  		</div>	
					  		<% end %>				  			
					  		<div class="column">
						  		<% if can? :update, Story %>
									<%= link_to "View / Edit", edit_story_path(story), class: 'button is-light' %>
								<% end %>
					  		</div>			
				  		</div>
			  	</div>  	
			  </div>
			  <% end %>
		  <% end %>
		  <div class="solid-border pd20">
		  	<%= paginate @stories %>
		  </div>
	</div>


</body>
</html>