<div class="container">

	<p>
	  <strong>Headline:</strong>
	  <%= @story.headline %>
	</p>
	 
	<p>
	  <strong>Text:</strong>
	  <%= @story.body %>
	</p>

	<h2>Comments</h2> <hr>
    <%= render @story.comments %>

	<h2>Add a comment:</h2>
    <%= render 'comments/form' %>

	<%= link_to 'Edit', edit_story_path(@story) %> |
	<%= link_to 'Back', stories_path %>
		

</div>
